.container {
  width: 100%;
  margin: 0;
}

.main {
    width: 100%;
    min-height: 90vh;
  }

.main h1 {
  text-align: left;
  padding-left: 10%;
  padding-top: 1%;
  font-size: 24px;
  margin-bottom: 20px;
}

.table {
  width: 80%;
  padding-left: 10%;
  margin-left: auto;
  margin-right: auto;
}
  
  .title {
    font-size: 4rem;
    text-align: center;
  }

.table-head-bg-black {
  background-color: black !important;
  color: white !important;
}

.zebra-striped tr:nth-child(odd) {
  background-color: #c2c2c2de;
}

.zebra-striped tr:nth-child(even) {
  background-color: white;
}

.formulario {
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

.formulario div {
  width: 100%;
  margin-bottom: 15px;
}

.formulario label {
  margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.formulario textarea {
  height: 100px;
  resize: vertical;
}

.formulario button {
  padding: 10px 15px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #005bb5;
}




